#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.album-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.album {
  border: 0.2rem solid white;
  border-radius: 0.5rem;
  padding: 0 0.66rem;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.album:hover {
  background-color: #333333;
  border-color: cyan;
}

.album:hover svg {
  fill: cyan;
}

.album h1 {
  font-size: 1.1rem;
}

.photo-list h1 {
  font-size: 2rem;
}

.photo-list header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.66rem;
}

.photo {
  margin: 0;
  border: 0.5rem solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.photo figcaption {
  max-width: 150px;
}
